/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3ls_team_grid1_pos ul li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
/*-- banner --*/
.banner,.banner1{
	padding:2em 0 0;
}
.banner{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:770px;
	position:relative;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
}
.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a{
	font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.w3_agile_logo h1 a span{
	display: block;
    font-size: .3em;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 50%;
    color: #10a3ed;
}
.agile_banner_info{
	width:70%;
	margin:15em 0 4em;
}
.agile_banner_info h3{
	font-size: 3em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 5px;
}
.agile_banner_info h3 span{
	padding: .3em;
    display: block;
    font-size: .3em;
    background: #fff;
    color: #212121;
    width: 20%;
    text-align: center;
    font-weight: bold;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	font-size: 14px;
    color: #28aaeb;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#fff;
}
.agileits_w3layouts_more a:before,.agileits_w3layouts_more a:after{
	content: '';
    background: #fff;
    width: 85%;
    height: 2px;
    position: absolute;
    left: 105%;
    top: 46%;
}
.agileits_w3layouts_more a:after{
	-webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
	    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.agileits_w3layouts_more a:hover::before, .agileits_w3layouts_more a:hover::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.agileits_w3layouts_more a::after {
    background: #28aaeb;
}
.w3_agileits_social_media{
	float:right;
	margin: 5em 0 0;
}
.w3_agileits_social_media ul li{
	display: inline-block;
    font-weight: 600;
    margin: 0 1em;
}
.w3_agileits_social_media ul li a{
	display:block;
	color:#fff;
	text-decoration:none;
}
.agileinfo_share{
	position: relative;
    margin-right: 5em !important;
	color:#28aaeb;
}
.agileinfo_share:after{
	content: '';
    background:#28aaeb;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 45%;
    right: -105%;
}
.w3_agileits_social_media ul li a.wthree_facebook:hover{
	color:#3b5998;
}
.w3_agileits_social_media ul li a.wthree_twitter:hover{
	color:#1da1f2;
}
.w3_agileits_social_media ul li a.wthree_dribbble:hover{
	color:#ea4c89;
}
.w3_agileits_social_media ul li a.wthree_behance:hover{
	color:#1769ff;
}
/*-- menu --*/
.mobile-nav-button {
	position: fixed;
    margin:3em 0em 0;
    right: 14%;
    top: 0;
    z-index: 9999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.66);
}

.mobile-nav-button .mobile-nav-button__line {
	width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: 1s ease;
    margin: .3em auto;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.7em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { 
	display: none;	
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
	left:10%;
}

.mobile-menu {
	display: block;
    width: 20%;
    right:-20%;
    height: 100%;
    background: rgba(16, 158, 230, 0.63);
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
}

.mobile-menu ul {
	position: relative;
    top: 20%;
    padding: 0;
}

.mobile-menu ul li { 
	list-style: none;
    margin-bottom: 2em;
	display: block;
}
.mobile-menu ul li a {
	width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #212121;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.open > ul.dropdown-menu.agile_short_dropdown{
    display: block;
    transform: none !important;
    min-width: 65%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 18%;
}
.open > ul.dropdown-menu.agile_short_dropdown li{
	margin:0 !important;
}
ul.dropdown-menu.agile_short_dropdown > li > a:hover{
    background: none;
}
.mobile-menu ul li a:after {
	content: '';
	background: #0e0e0e;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	z-index: -1;
	transition: 0.4s ease;
}

.mobile-menu ul li a:hover,.mobile-menu ul li.active a { 
	color: #fff; 
}

.mobile-menu ul li a:hover:after,.mobile-menu ul li.active a:after { 
	right: 0; 
}
li.dropdown.act a.w3_icons_act {
    background: #0e0e0e;
	color: #fff;
}
.mobile-menu img {
	position: absolute;
	width: 150px;
	display: block;
	left: 50%;
	top: 3rem;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-o-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	padding: 0;
	text-align: center;
}

.mobile-menu--open {
	opacity: 1;
	right:0%;
}
.dropdown.active.open a  ul.dropdown-menu.agile_short_dropdown li a.w3_icon_1:after{
	background:none !important;
}
/*-- //banner --*/
/*-- bootstrap-pop-up --*/
.modal-header {
    font-size: 2em;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #10a3ed;
    border-bottom: none;
    letter-spacing: 10px;
}
.close {
    opacity: 1;
}
.w3_modal_body_right h4{
	text-transform: uppercase;
    font-size: 1.5em;
    color: #212121;
    line-height: 1.5em;
    margin: 3em 0 1em;
    letter-spacing: 5px;
}
.modal-body p {
    color: #999;
    margin: 0 !important;
    line-height: 2em;
}
.modal-body p i {
    display: block;
    margin: 1.5em 0;
    color: #212121;
    font-weight: 600;
}
.modal-body {
    padding:0;
}
.modal-content {
    border-radius: 0;
}
button.close {
    font-size: 1em;
    color:#2f6105;
	outline: none;
}
.modal-dialog {
    width: 845px;
}
.w3_modal_body_left {
    padding-left: 0;
}
/*-- //bootstrap-pop-up --*/
/*-- banner-bottom --*/
.banner-bottom,.features-bottom,.about,.team{
	padding:5em 0;
}
.banner-bottom{
	text-align:center;
}
.agileits_banner_bottom{
	width: 70%;
    margin: 0 auto;
}
.banner-bottom h3{
	font-size: 2em;
    color: #212121;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;  
}
.banner-bottom h3 span{
	display: block;
    font-size: .8em;
    color: #10a3ed;
    font-weight: 500;
}
.banner-bottom h3 i{
	font-weight:300;
}
.banner-bottom p{
	color:#666;
	line-height:2em;
	margin:2em 0 0;
}
.w3ls_banner_bottom_grids{
	margin:3em 0 0;
}
.w3l_banner_bottom_grid{
	padding:2em;
	text-align:center;
	border:2px solid #999;
}
/*-- grid-effect --*/
/* General grid styles */
.cbp-ig-grid {
	list-style: none;
	padding:0;
	margin: 0;
}

/* Clear floats */
.cbp-ig-grid:before, 
.cbp-ig-grid:after { 
	content: " "; 
	display: table; 
}

.cbp-ig-grid:after { 
	clear: both; 
}

/* grid item */
.cbp-ig-grid li {
	width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.cbp-ig-grid li:last-child{
	border-right: 1px solid #ddd;
}

.w3_grid_effect{
	padding: 2em;
}

/* anchor style */
.cbp-ig-grid li > a {
	display: block;
	height: 100%;
	color: #47a3da;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}

/* the icon with pseudo class for icon font */
.cbp-ig-icon {
	padding: 1.5em 0 0;
	display: block;
	-webkit-transition: -webkit-transform 0.2s;
	transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.cbp-ig-icon:before {
	font-family:FontAwesome;
	font-size: 5em;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.w3_road:before {
	content: "\f018";
}

.w3_cube:before {
	content: "\f1b3";
}

.w3_users:before {
	content: "\f0c0";
}

.w3_ticket:before {
	content: "\f145";
}

/* title element */
.cbp-ig-grid .cbp-ig-title {
	margin: 20px 0 10px 0;
    padding: 20px 0 0 0;
    font-size: 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 4px;
	color:#212121;
}

.cbp-ig-grid .cbp-ig-title:before {
	content: '';
	position: absolute;
	background:#10a3ed;
	width: 160px;
	height: 6px;
	top: 0px;
	left: 50%;
	margin: -10px 0 0 -80px;
	-webkit-transition: margin-top 0.2s; /* top or translate does not seem to work in Firefox */
	-moz-transition: margin-top 0.2s;
	transition: margin-top 0.2s;
}

.cbp-ig-grid .cbp-ig-category {
	text-transform: uppercase;
	display: inline-block;
	font-size: 1em;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transform: translateY(10px);
	-moz-transform: -moz-translateY(10px);
	-ms-transform: -ms-translateY(10px);
	transform: translateY(10px);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	-webkit-transition: transform 0.3s, opacity 0.2s;
}

.cbp-ig-grid li:hover .cbp-ig-category,
.touch .cbp-ig-grid li .cbp-ig-category {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

/* Hover styles */

.cbp-ig-grid li > .w3_grid_effect:hover {
	background:#10a3ed;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	transform: translateY(-20px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon:before,
.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title {
	color: #fff;
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title {
	-webkit-transform: translateY(-45px);
	-moz-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	transform: translateY(-45px);
}

.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title:before {
	background: #fff;
	margin-top: 68px;
}


@media screen and (max-width: 62.75em) {
	.cbp-ig-grid li {
		width: 50%;
	}
}

@media screen and (max-width: 25em) { 
	.cbp-ig-grid {
		font-size: 80%;
	}
}
/*-- //banner-bottom --*/
/*-- features --*/
.features{
	background:#e1f2fa;
	padding:5em 0 0;
}
.w3_agile_header{
	font-size: 2.5em;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
	padding-bottom:.5em;
	margin-bottom:.5em;
}
.w3_agile_header span{
	color:#10a3ed;
}
.w3_agile_header:before,.w3_agile_header:after{
	content:'';
	background:#212121;
	height:2px;
	position:absolute;
}
.w3_agile_header:before{
	bottom: 0%;
    left: 46%;
    width: 8%;
}
.w3_agile_header:after{
	bottom: -10%;
    right: 37.5%;
    width: 25%;
}
.agile_para{
	color:#999;
	text-align:center;
	line-height:1.8em;
}
.agileits_w3layouts_features_grids,.w3l_features_bottom_grids{
	margin:3em 0 0;
}
.agileits_w3layouts_features_gridr img{
	margin:0 auto;
}
.w3_agileits_features_grid1 h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#212121;
	letter-spacing:2px;
}
.w3_agileits_features_grid1 p{
	margin:1em 0 0;
	color:#999;
	line-height:2em;
}
.w3_agileits_features_grid1 {
    padding-left: 0;
    text-align: right;
}
.wthree_features_grid{
	width: 50px;
    height: 50px;
    margin: 2em auto 0;
    text-align: center;
    border: 2px solid #10a3ed;
    position: relative;
    z-index: 1;
    border-radius: 35px;
}
.wthree_features_grid i{
	font-size:1em;
	color:#212121;
	line-height:2.8em;
}
.w3_agileits_features_grid11 .hi-icon:before {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.7;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
	content: '';
}
.agileinfo_feature_grid1:hover .w3_agileits_features_grid11 .hi-icon:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.agileinfo_feature_grid1:hover .w3_agileits_features_grid11 .hi-icon:after {
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.agileinfo_feature_grid1:hover .w3_agileits_features_grid11 .hi-icon i{
    -webkit-animation: fa-spin 3s infinite linear;
    animation: fa-spin 3s infinite linear;
}
.w3_agileits_features_grid11 .hi-icon:after {
    box-shadow:3px 3px rgb(12, 119, 173);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    -moz-transition: opacity 0.2s, -moz-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
}
.w3_agileits_features_grid11 .hi-icon:after {
    top: -8px;
    left: -8px;
    padding: 8px;
    z-index: -1;
    opacity: 0;
}
.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.agileinfo_feature_grid1{
	margin-top:3em;
}
.agileits_countdown{
	padding:2em;
	background:#10a3ed;
}
.clock .column {
    display: inline-block;
    margin-right: 30px;
}
.clock {
    text-align: center;
}
.timer {
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background: rgba(0, 0, 0, 0.37);
    padding: .4em;
    width: 110px;
    height: 110px;
    border-radius: 75px;
}
.w3ls_text {
    font-size: 14px;
    color: #fff;
    margin: 1em 0 0;
    font-weight: bold;
}
.agileits_countdown h2{
	text-align: center;
    font-size: 3em;
    color: #fff;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/*-- //features --*/
/*-- features-bottom --*/
.w3_features_bottom_grid{
	padding:1.5em;
	border:1px solid #999;
}
.w3_features_bottom_gridl{
    text-align: center;
}
.w3_features_bottom_gridl i {
    font-size: 1.5em;
    color: #212121;
    line-height: 2em;
}
.w3_features_bottom_gridr h4{
	font-size: 1.4em;
    letter-spacing: 2px;
    color: #212121;
    text-transform: uppercase;
}
.w3_features_bottom_gridr p{
	color:#999;
	line-height:2em;
}
.w3_features_bottom_gridr p a{
	color:#999;
	text-decoration:none;
}
.w3_features_bottom_gridr p a:hover{
	color:#212121;
}
/*-- //features-bottom --*/
/*-- footer --*/
.footer{
	background:#2E2E2E;
	padding:3em 0;
}
.w3_agileits_footer_grid h3{
	font-size:2em;
	color:#fff;
	margin:0 0 1em;
	position:relative;
	padding-bottom:.5em;
}
.w3_agileits_footer_grid h3:before{
	position: absolute;
    bottom: 0%;
    left: 0%;
    width:30%;
    height: 1px;
    background:#10a3ed;
    content: '';
}
.w3_agileits_footer_grid p{
	color:#999;
	line-height:1.8em;
	margin:0;
}
.w3_agileits_footer_grid p span{
	display:block;
	margin:1em 0 0;
}
.w3_agileits_footer_grid ul li{
	list-style-type:none;
	margin-bottom:1em;
	color:#999;
}
.w3_agileits_footer_grid ul li i{
	color: #999;
    border: 1px solid #999;
    padding:.5em;
    border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
    margin-right: 1em;
}
.w3_agileits_footer_grid ul li span{
	display:block;
	margin-left: 3em;
}
.w3_agileits_footer_grid ul li a{
	color:#999;
	text-decoration:none;
}
.w3_agileits_footer_grid ul li a:hover{
	color:#fff;
}
.w3_agileits_footer_grid1 ul li{
    margin-bottom: 1.5em !important;
}
.w3_agileits_footer_grid ul li:last-child{
	margin-bottom:0 !important;
}
.w3_agileits_footer_grid input[type="email"]{
	outline:none;
	padding:10px;
	background:#fff;
	border:none;
	font-size:14px;
	color:#212121;
	width:100%;
}
.w3_agileits_footer_grid input[type="submit"]{
	outline: none;
    padding: 9px 0;
    background: #10a3ed;
    border: none;
    font-size: 14px;
    color: #fff;
    margin: 1em 0 0;
    width: 40%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}
.w3_agileits_footer_grid input[type="submit"]:hover{
	background:#fff;
	color:#212121;
}
.wthree_copy_right{
	padding:2em 0;
	background:#212121;
	text-align:center;
}
.wthree_copy_right p{
	color:#fff;
	line-height:1.8em;
	margin:0 0 1em;
}
.wthree_copy_right p a{
	text-decoration:underline;
	color:#10a3ed;
}
.wthree_copy_right p a:hover{
	color:#fff;
}
/*-- social-icons --*/
.w3_agile_social_icons ul li{
	display:inline-block;
}
.icon {
	display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 35px;
    height: 35px;
}
.icon-cube {
  position: relative;
  -webkit-perspective: 100px;
   perspective: 100px;
  overflow: visible;
}

/*-- agileits --*/
.icon-cube::before,
.icon-cube::after {
	display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: FontAwesome;
    font-size: 1em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 2.6em;
}

.icon-cube::before {
	z-index: 2;
	background-color:#fff;
}

.icon-cube::after {
	z-index: 1;
	opacity: 0;
	-webkit-transform:translateY(25px) rotateX(-90deg);
    transform:translateY(25px) rotateX(-90deg);
}

.icon-cube:hover::before {
	opacity: 0;
	-webkit-transform: translateY(-25px) rotateX(90deg);
    transform: translateY(-25px) rotateX(90deg);
}

.icon-cube:hover::after {
	opacity: 1;
	-webkit-transform: rotateX(0);
    transform: rotateX(0);
}

/*-- facebook --*/
/*-- w3layouts --*/
.icon-cube.agile_facebook::before,
.icon-cube.agile_facebook::after {
	content: "\f09a";
    color: #3b5998;
}

.icon-cube.agile_facebook::after {
	background-color:#3b5998;
	color:#fff;
}
/*-- rss --*/
.icon-cube.agile_rss::before,
.icon-cube.agile_rss::after {
	content:"\f09e";
	color: #f26522;
}

.icon-cube.agile_rss::after {
	background-color:#f26522;
	color: #fff;
}
/*-- instagram --*/
.icon-cube.agile_instagram::before,
.icon-cube.agile_instagram::after {
	content:"\f16d";
	color: #833ab4;
}

.icon-cube.agile_instagram::after {
	background-color:#833ab4;
	color: #fff;
}
/*-- t --*/
.icon-cube.agile_t::before,
.icon-cube.agile_t::after {
	content:"\f173";
	color: #35465c;
}

.icon-cube.agile_t::after {
	background-color:#35465c;
	color: #fff;
}
/*-- //social-icons --*/
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- about --*/
.agileinfo_banner1_info{
	text-align:right;
	margin:6em 0 0;
}
.agileinfo_banner1_info h2{
	font-size: 2.5em;
    color: #fff;
    position: relative;
}
.agileinfo_banner1_info h2:before, .agileinfo_banner1_info h2:after {
    content: '';
    background: #28aaeb;
    height: 2px;
    position: absolute;
}
.agileinfo_banner1_info h2:before {
    bottom: 0%;
    left: 92%;
    width: 8%;
    background: #fff;
}
.agileinfo_banner1_info h2:after {
    bottom: -10%;
    right: 0;
    width: 18%;
}
.agileits_breadcrumbs{
	padding:1em 0;
	background:#f5f5f5;
}
.agileits_breadcrumbs ul li{
	display:inline-block;
	color:#212121;
	font-weight:600;
}
.agileits_breadcrumbs ul li a{
	color:#10a3ed;
	text-decoration:none;
}
.agileits_breadcrumbs ul li a:hover{
	color:#212121;
}
.agileits_breadcrumbs ul li span{
	padding:0 2em;
}
.w3_about_para{
	color:#999;
	line-height:2em;
	width:65%;
	margin:0 auto;
	text-align:center;
}
.w3ls_about_guage {
    text-align: center;
}
.w3ls_about_guage h4{
	font-size: 1.3em;
    color: #212121;
    letter-spacing: 2px;
    text-transform: capitalize;
}
/*-- //about --*/
/*-- team --*/
.team{
	background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.w3_agile_header1,.agile_para1{
	color:#fff;
}
.w3_agile_header1:before, .w3_agile_header1:after {
    background: #fff !important;
}
.w3layouts_team_grid{
	text-align:center;
}
.w3layouts_team_grid h4{
	font-size:1.5em;
	color:#fff;
	margin:1em 0 0em;
	text-transform:uppercase;
}
.w3layouts_team_grid p{
	font-weight:600;
	color:#10a3ed;
	text-transform:uppercase;
}
.team h5{
	margin: 2em auto 0;
    width: 60%;
    font-size: 1.8em;
    color: #fff;
    text-transform: capitalize;
    line-height: 1.5em;
    position: relative;
    text-align: center;
	padding-left:1.5em;
}
.team h5:after{
	content:"\f10d";
	position:absolute;
	left:0%;
	top:0%;
	color:#10a3ed;
	font-family: FontAwesome;
}
/*-- //team --*/
/*-- services --*/
.w3_agile_services_grid1{
	position:relative;
}
.w3_agile_services_grid1_pos{
	position: absolute;
    top: 5%;
    left: 4%;
    width: 92%;
    border: 3px solid #ffffff;
    height: 90.5%;
}
.w3layouts_services_grid h4{
	text-transform: uppercase;
    font-size: 1.4em;
    color: #212121;
    line-height: 1.5em;
    margin: 1em 0 0.5em;
    letter-spacing: 4px;
}
.w3layouts_services_grid p{
	color: #999;
    line-height: 2em;
    margin-bottom: 2em;
}
.agile_more a{
	color:#10a3ed !important;
	font-weight: 600;
}
.agile_more a:before, .agile_more a:after {
    background: #212121 !important;
    width: 55% !important;
}
.agile_more a::after {
    background: #10a3ed !important;
}
.agile_more a:hover {
    color: #212121 !important;
}
.w3_agileits_working_hours{
	padding: 2em;
    border: 4px solid #e5e5e5;
}
.w3_agileits_working_hours h5{
	font-size:2em;
	color:#212121;
}
.w3_agileits_working_hours p{
	margin:.5em 0 2em !important;
}
.w3_agileits_working_hours ul li{
	list-style-type: none;
    color: #212121;
    margin-bottom: 2em;
}
.w3_agileits_working_hours ul li i{
	padding-right:1em;
	color:#10a3ed;
}
.w3_agileits_working_hours ul li:last-child{
	margin-bottom:0;
}
/*-- //services --*/
/*-- services-bottom --*/
.services-bottom{
	background: #e1f2fa;
}
.wthree_services_bottom_left {
    padding: 0;
}
.wthree_services_bottom_right{
	padding:5em 4em 0;
}
.wthree_services_bottom_right h3{
	font-size: 1.5em;
    color: #212121;
    text-transform: uppercase;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.wthree_services_bottom_right p.purus_w3_para{
	color:#999;
	line-height:2em;
	margin:1em 0 3em;
}
.agileinfo_services_bottom_right_grid{
	text-align:center;
}
.agileinfo_services_bottom_right_grid i{
	font-size:1.8em;
	color:#10a3ed;
}
.agileinfo_services_bottom_right_grid h4{
	font-size: 1em;
    color: #212121;
    margin: 0.5em 0;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.agileinfo_services_bottom_right_grid p{
	font-size: 2.5em;
    color: #212121;
    font-weight: bold;
}
.agileits_stats_grid{
	width: 180px;
    height: 180px;
    border: 2px solid #10a3ed;
    border-radius: 100px;
    margin: 0 auto;
    padding: 1.7em 1em 0;
}
.choose-us{
	padding:5em 0 0;
}
/*-- //services-bottom --*/
/*-- work --*/
.agileits_w3layouts_work_grid1{
	padding-top:2em;
}
.w3ls_work_grids{
	margin-top:1em;
}
.w3layouts_work_grid1 img {
    margin:4em 0 0;
}
.column .w3_agile_work_effect{
	position: relative;
}
.hover14 figure {
	overflow: hidden;
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform:skewX(-17deg);
	transform: skewX(-17deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine .95s;
	animation: shine .95s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*-- //work --*/
/*-- icons --*/
.grid_3.grid_4.w3_agileits_icons_page {
    margin: 0;
}
ul.bs-glyphicons-list li:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
ul.bs-glyphicons-list li:hover span {
    color: #fff;
}
.codes a {
    color: #999;
}
.row.fontawesome-icon-list {
    margin: 0;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
	font-size: 25px;
    color:#10a3ed !important;
    margin: 30px 0 15px;
	font-weight: 400;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 35px;
    color: #000;
    font-weight: 300;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
	cursor: pointer;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:1080px){
	.icon-box {
		width:33.33%;
	}
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
	.icon-box {
		width: 50%;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 667px){
	.icon-box {
		width: 50%;
		float: left;
	}
}
@media (max-width: 640px){
	h3.icon-subheading {
		font-size: 22px;
	}
	.grid_3.grid_4.w3_agileits_icons_page {
		margin-top: 0;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
	h3.agileits-icons-title {
		font-size: 25px;
	}
	h3.icon-subheading {
		font-size: 19px;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
@media (max-width: 375px){
	.w3_agileits_icons_page {
		margin:0 !important;
	}
}
/*-- //icons --*/
/*--Typography--*/
.grid_3.grid_4.w3layouts {
    margin: 0 !important;
}
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#10a3ed;
    font-weight: 400;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:800px){
	.grid_3.grid_5.w3ls,.grid_3.grid_5.w3l,.grid_3.grid_5.agileits,.grid_3.grid_5.agileinfo,.grid_3.grid_5.wthree {
		margin: 0;
	}
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
	.grid_3.grid_5.w3l {
		margin-top: 1.5em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
	.list-group {
		margin-bottom: 20px;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 0;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
/*-- contact --*/
.agile_map	iframe{
	width:100%;
	min-height:580px;
}
.w3_agileits_contact_grid_left{
	padding:0;
	position:relative;
}
.agileits_w3layouts_map_pos{
	position: absolute;
    right: -15%;
    top: 22%;
    width: 50%;
    padding: 2em;
    background: #10a3ed;
}
.agileits_w3layouts_map_pos h3{
	font-size:1.5em;
	color:#212121;
}
.agileits_w3layouts_map_pos p{
	color:#fff;
	line-height:2em;
	margin:.5em 0 1.5em;
	font-weight:600;
}
.agileits_w3layouts_map_pos ul.wthree_contact_info_address li{
	list-style-type:none;
	margin-bottom:1em;
	color:#fff;
	font-weight:600;
}
.agileits_w3layouts_map_pos ul.wthree_contact_info_address li i{
	padding-right:1em;
}
.agileits_w3layouts_map_pos ul.wthree_contact_info_address li a{
	color:#fff;
	text-decoration:none;
}
.agileits_w3layouts_map_pos ul.wthree_contact_info_address li a:hover{
	color:#212121;
}
.w3_agile_social_icons_contact ul li a {
    text-align: center;
}
.agileits_w3layouts_map_pos1{
	padding:2em;
	border:3px double #fff;
}
.w3_agileits_contact_grid_right{
	padding:0 4em 0 12em;
}
.w3_agileits_contact_grid_right form{
	padding:1em 0 0;
}
/*-- effect --*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	width: calc(100% - 0em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	font-size: 14px;
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    float: right;
    padding: 0 1em;
    width: 40%;
    color: #212121;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding:1em 0;
	width: 100%;
}
/* Ichiro */
.input--ichiro {
	margin-top: 2em;
}

.input__field--ichiro {
	position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
    display: block;
    padding: 0 1em;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background: #fff;
    color: #212121;
    opacity: 0;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.input__label--ichiro {
	width: 100%;
	text-align: left;
	cursor: text;
}

.input__label--ichiro::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	border: 1px solid #e4e4e4;
}

.input__label-content--ichiro {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--ichiro:focus,
.input--filled .input__field--ichiro {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.input__field--ichiro:focus + .input__label--ichiro,
.input--filled .input__label--ichiro {
	cursor: default;
	pointer-events: none;
}

.input__field--ichiro:focus + .input__label--ichiro::before,
.input--filled .input__label--ichiro::before {
	-webkit-transform: scale3d(1, 1.5, 1);
	transform: scale3d(1, 1.5, 1);
	border: none;
}

.input__field--ichiro:focus + .input__label--ichiro .input__label-content--ichiro,
.input--filled .input__label-content--ichiro {
	-webkit-transform: translate3d(0, -2.4em, 0) scale3d(0.8, 0.8, 1);
	transform:translate3d(0, -2.4em, 0) scale3d(0.8, 0.8, 1) translateZ(1px);
}
.w3_agileits_contact_grid_right textarea {
    outline: none;
    width: 100%;
    background: #f5f5f5;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    min-height: 200px;
    font-weight: bold;
    margin: 2em 0 0;
}
.w3_agileits_contact_grid_right textarea::-webkit-input-placeholder {
	color: #212121 !important;
}
.w3_agileits_contact_grid_right input[type="submit"] {
    outline: none;
    width: 100%;
    background: #212121;
    color: #fff;
    padding: 0.8em 0;
    font-size: 1em;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    margin: 1em 0 0;
    letter-spacing: 5px;
}
.w3_agileits_contact_grid_right input[type="submit"]:hover{
	background:#10a3ed;
}
/*-- //contact --*/
/*-- start-responsive-design --*/
@media (max-width:1440px){
	.wthree_services_bottom_right {
		padding: 3.5em 4em 0;
	}
	.mobile-nav-button {
		right: 10%;
	}
}
@media (max-width:1366px){
	.agile_banner_info {
		margin: 12em 0 3em;
	}
	.banner {
		min-height: 670px;
	}
	.mobile-nav-button {
		right: 8%;
	}
	.agileits_stats_grid {
		width: 145px;
		height: 145px;
		padding: 1.4em 1em 0;
	}
	.agileinfo_services_bottom_right_grid i {
		font-size: 1.4em;
	}
	.agileinfo_services_bottom_right_grid p {
		font-size: 2em;
	}
	.agileits_w3layouts_map_pos {
		right: -20%;
		width: 60%;
	}
}
@media (max-width:1280px){
	.mobile-menu {
		width: 25%;
		right: -25%;
	}
	.mobile-menu--open {
		right: 0% !important;
	}
	.mobile-nav-button {
		right: 5%;
	}
	.wthree_services_bottom_right {
		padding: 3em 3em 0;
	}
	.wthree_services_bottom_right h3 {
		letter-spacing: 1px;
	}
	.w3_agileits_contact_grid_right {
		padding: 0 2em 0 10em;
	}
}
@media (max-width:1080px){
	.agile_banner_info h3 {
		font-size: 2.6em;
		letter-spacing: 3px;
	}
	.agile_banner_info {
		margin: 9.5em 0 3em;
	}
	.banner {
		min-height: 600px;
	}
	.agileits_banner_bottom {
		width: 80%;
	}
	.cbp-ig-icon:before {
		font-size: 3.5em;
	}
	.cbp-ig-grid .cbp-ig-title {
		margin: 30px 0 10px 0;
	}
	.agileits_w3layouts_features_gridl {
		padding-left: 0;
	}
	.w3_agileits_features_grid1 h4 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.w3_agile_header {
		font-size: 2.3em;
		letter-spacing: 3px;
	}
	.team h5 {
		width: 75%;
	}
	.agileits_countdown h2 {
		font-size: 2.7em;
		letter-spacing: 3px;
	}
	.w3_features_bottom_gridl {
		width: 28%;
		padding-left: 0;
	}
	.w3_features_bottom_gridr {
		padding: 0;
		width: 72%;
	}
	.w3layouts_services_grid h4 {
		font-size: 1.3em;
		letter-spacing: 2px;
	}
	.w3_agileits_working_hours {
		padding: 1em;
	}
	.w3layouts_services_grid:nth-child(3) {
		padding-right: 0;
	}
	.wthree_services_bottom_right h3 {
		letter-spacing: 1px;
		font-size: 1.3em;
	}
	.wthree_services_bottom_right {
		padding: 2em 1.5em 0;
	}
	.wthree_services_bottom_right p.purus_w3_para {
		margin:1em 0;
	}
	.agileits_stats_grid {
		width: 125px;
		height: 125px;
		padding: .8em 1em 0;
	}
	.agileinfo_services_bottom_right_grid p {
		font-size: 1.8em;
	}
	.agileinfo_services_bottom_right_grid h4 {
		margin: 0.5em 0 0;
	}
	.agileinfo_service_grid1 {
		margin-top: 1.5em !important;
	}
	.w3_agile_services_grid1_pos {
		height: 89.5%;
	}
	.w3_agileits_contact_grid_right {
		padding:0 1em 0 8em;
	}
	.agileits_w3layouts_map_pos {
		width: 70%;
	}
}
@media (max-width:1024px){
	.banner-bottom, .features-bottom, .about, .team {
		padding: 4em 0;
	}
	.choose-us {
		padding: 4em 0 0;
	}
	.mobile-menu ul li {
		margin-bottom: 1.5em;
	}
	.mobile-menu ul li a {
		letter-spacing: 2px;
	}
	.features {
		padding: 4em 0 0;
	}
	.wthree_services_bottom_right {
		padding: 1.5em 1.5em 0;
	}
}
@media (max-width:991px){
	.w3_agile_logo h1 a {
		font-size: 1.2em;
	}
	.w3_agile_logo h1 a span {
		width: 52%;
	}
	.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) {
		margin: 0.5em auto;
	}
	.mobile-nav-button {
		height: 33px;
		right: 13%;
	}
	.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
		top: 10px;
	}
	.agile_banner_info h3 {
		font-size: 2.3em;
		letter-spacing: 2px;
	}
	.agile_banner_info {
		width: 80%;
	}
	.agile_banner_info {
		margin: 8.5em 0 2em;
	}
	.w3_agileits_social_media {
		margin: 3em 0 0;
	}
	.banner {
		min-height: 495px;
	}
	.banner-bottom, .features-bottom, .about, .team,.choose-us {
		padding: 3em 0;
	}
	.agileits_banner_bottom {
		width: 100%;
	}
	.banner-bottom h3 {
		font-size: 1.8em;
	}
	.cbp-ig-grid li:first-child,.cbp-ig-grid li:nth-child(2){
		border-bottom:0;
	}
	.cbp-ig-grid li:nth-child(2){
		border-right: 1px solid #ddd;
	}
	.features {
		padding: 3em 0 0;
	}
	.w3_agile_header {
		font-size: 2em;
		letter-spacing: 2px;
	}
	.w3_agile_header:after {
		right: 35.5%;
		width: 30%;
	}
	.w3_agile_header:before {
		left: 45.5%;
		width: 10%;
	}
	.agileits_w3layouts_features_gridl {
		float: left;
		width: 50%;
	}
	.agileinfo_feature_grid1:first-child {
		margin: 0;
	}
	.agileits_w3layouts_features_gridr {
		float: left;
		width: 100%;
		margin: 2em 0 0;
	}
	.agileits_countdown h2 {
		font-size: 2.3em;
	}
	.timer {
		font-size: 2.5em;
		line-height: 1.9em;
	}
	.w3layouts_features_bottom_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3_agileits_footer_grid {
		float: left;
		width: 50%;
	}
	.w3_agileits_footer_grid:nth-child(2){
		margin-bottom:2em;
	}
	.agileinfo_banner1_info h2 {
		font-size: 2em;
	}
	.banner1 {
		min-height: 265px;
	}
	.agileinfo_banner1_info {
		margin: 4.5em 0 0;
	}
	.w3_about_para {
		width: 100%;
	}
	.w3ls_about_guage {
		float: left;
		width: 25%;
	}
	#gauge1,#gauge2,#gauge3,#gauge4 {
		width: 150px;
	}
	.w3layouts_team_grid {
		float: left;
		width: 50%;
	}
	.w3layouts_team_grid:nth-child(2){
		margin-bottom:2em;
	}
	.w3layouts_team_grid img{
		margin:0 auto;
	}
	.team h5 {
		width: 100%;
	}
	.w3layouts_services_grid {
		float: left;
		width: 50%;
	}
	.w3layouts_services_grid p {
		margin-bottom: 1em;
	}
	.w3layouts_services_grid:nth-child(3) {
		padding-right: 1em;
		width: 100%;
		margin: 2em 0 0;
	}
	.w3_modal_body_left {
		float: left;
		width: 50%;
	}
	.w3_modal_body_right {
		float: right;
		width: 50%;
	}
	.services-bottom {
		width: 80%;
		margin: 0 auto;
	}
	.wthree_services_bottom_right {
		padding: 3em;
	}
	.wthree_services_bottom_right h3 {
		letter-spacing: 2px;
	}
	.agileinfo_services_bottom_right_grid {
		float: left;
		width: 33.33%;
	}
	.agileits_stats_grid {
		width: 150px;
		height: 150px;
		padding: 1.9em 1em 0;
	}
	.w3ls_choose_us_grid img {
		margin: 0 auto;
	}
	.agileits_w3layouts_work_grid {
		float: left;
		width: 33.33%;
	}
	.agile_map	iframe {
		min-height: 450px;
	}
	.agileits_w3layouts_map_pos {
		width: 40%;
		right: 2%;
		top: 12%;
	}
	.w3_agileits_contact_grid_right {
		padding: 0 1em;
		margin: 2em 0 0;
	}
	.w3_agileits_contact_grid_right form {
		width: 70%;
		margin: 0 auto;
	}
}
@media (max-width: 800px){
	.mobile-nav-button {
		right: 4%;
	}
	.mobile-menu {
		width: 33%;
		right: -33%;
	}
	.modal-dialog {
		width: 700px;
	}
	.w3_modal_body_right h4 {
		font-size: 1.3em;
		margin: 1em 0 0;
		letter-spacing: 4px;
	}
	.modal-body p i {
		margin: 1em 0;
	}
	.services-bottom {
		width: 100%;
	}
	.agileits_w3layouts_work_grid {
		padding-right: 0;
	}
	.w3layouts_work_grid1 img {
		margin: 3em 0 0;
	}
	.agileits_w3layouts_work_grid1 {
		padding-top: 1em;	
	}
	.agileits_w3layouts_map_pos {
		width: 50%;
		padding: 1.5em;
	}
}
@media (max-width: 768px){
	.agile_banner_info h3 {
		font-size: 2em;
		letter-spacing: 4px;
	}
	.mobile-nav-button {
		right: 2%;
	}
	.agileinfo_share:after {
		width: 75%;
		right: -85%;
	}
	.agileinfo_share {
		margin-right: 4em !important;
	}
	.timer {
		font-size: 2.3em;
		line-height: 1.8em;
		width: 95px;
		height: 95px;
	}
	.agileits_countdown h2 {
		font-size: 2em;
	}
	.w3_agileits_footer_grid h3 {
		font-size: 1.8em;
	}
	.w3_agileits_footer_grid h3:before {
		width: 20%;
	}
	.team h5 {
		padding-left: 0.9em;
	}
}
@media (max-width: 736px){
	.mobile-menu ul li {
		margin-bottom: 1em;
	}
	.agile_banner_info {
		margin: 6.5em 0 2em;
	}
	.banner {
		min-height: 445px;
	}
	.mobile-menu ul {
		top: 30%;
	}
	.mobile-menu {
		overflow-y: auto;
	}
	.modal-dialog {
		width: auto;
	}
}
@media (max-width: 667px){
	.mobile-nav-button {
		right: 3%;
	}
	.mobile-menu ul li a {
		font-size: 13px;
		padding: .8em 0;
	}
	.banner-bottom h3 {
		font-size: 1.6em;
	}
	.w3_modal_body_right {
		padding-left: 0;
	}
	.w3_modal_body_right h4 {
		font-size: 1.2em;
		letter-spacing: 3px;
	}
	.modal-body p i {
		margin: 0;
	}
	.w3ls_about_guage h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	#gauge1, #gauge2, #gauge3, #gauge4 {
		width: 130px;
	}
}
@media (max-width: 640px){
	.banner, .banner1 {
		padding: 1em 0 0;
	}
	.w3_agile_logo h1 a {
		font-size: 1em;
	}
	.w3_agile_logo h1 a span {
		width: 56%;
	}
	.mobile-nav-button {
		margin: 1.8em 0em 0;
	}
	.agile_banner_info h3 {
		font-size: 1.8em;
	}
	.agile_banner_info {
		margin: 6.5em 0 1.5em;
	}
	.banner {
		min-height: 400px;
		background-position: -120px 0px;
	}
	.mobile-menu ul {
		top: 10%;
	}
	.w3_grid_effect {
		padding: 1em;
	}
	.cbp-ig-icon:before {
		font-size: 2.5em;
	}
	.cbp-ig-grid .cbp-ig-title:before {
		height: 3px;
	}
	.cbp-ig-grid .cbp-ig-title {
		margin: 25px 0 10px 0;
		letter-spacing: 2px;
		padding: 15px 0 0 0;
	}
	.w3_agile_header:after {
		right: 32.5%;
		width: 35%;
	}
	.w3_agileits_features_grid1 h4 {
		font-size: 1.3em;
	}
	.banner1 {
		min-height: 220px;
	}
	.w3ls_about_guage {
		width: 50%;
	}
	.w3ls_about_guage:nth-child(2){
		margin-bottom:2em;
	}
	.w3ls_about_guage h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.w3ls_banner_bottom_grids {
		margin: 2em 0 0;
	}
	.team h5 {
		font-size: 1.5em;
	}
	.modal-body p i {
		display: none;
	}
	.w3_modal_body_right h4 {
		margin: 2em 0 0.5em;
	}
	.modal-dialog {
		width: 520px;
		margin: 10px auto;
	}
	.w3_modal_body_left {
		float: none;
		width: 100%;
		margin: 0 0 1em;
		padding: 0;
	}
	.w3_modal_body_left img{
		margin:0 auto;
	}
	.w3_modal_body_right {
		padding: 0 2em 2em;
		float: none;
		width: 100%;
	}
	.modal-body p i {
		display: block;
		margin: .5em 0;
	}
	.agileinfo_banner1_info h2:after {
		width: 25%;
	}
	.agileinfo_banner1_info h2:before {
		left: 90%;
		width: 10%;
	}
	.agileits_w3layouts_map_pos1 {
		padding: 1.5em;
	}
	.agileits_w3layouts_map_pos {
		width: 60%;
	}
	.agile_map	iframe {
		min-height: 420px;
	}
	.w3_agileits_contact_grid_right form {
		width: 90%;
	}
	.agile_banner_info h3 span {
		font-size: .4em;
	}
}
@media (max-width: 600px){
	.agile_banner_info h3 {
		font-size: 1.7em;
	}
	.banner-bottom h3 {
		font-size: 1.4em;
	}
	.w3_agileits_features_grid1 h4 {
		font-size: 1.2em;
	}
	.timer {
		font-size: 1.8em;
		line-height: 2em;
		width: 80px;
		height: 80px;
	}
	.clock .column {
		margin-right: 15px;
	}
	.mobile-menu ul {
		top: 20%;
	}
	.open > ul.dropdown-menu.agile_short_dropdown {
		min-width: 100%;
		left: 0%;
	}
}
@media (max-width: 568px){
	.agileits_w3layouts_features_gridl {
		float: none;
		width: 100%;
	}
	.agileits_w3layouts_features_grids, .w3l_features_bottom_grids {
		margin: 2em 0 0;
	}
	.w3_agileits_features_grid1 h4 {
		letter-spacing: 3px;
	}
	.agileinfo_feature_grid1 {
		margin-top: 2em;
	}
	.wthree_features_grid {
		margin: 1em auto 0;
	}
	.agileits_w3layouts_features_gridl:nth-child(2){
		margin:2em 0 0;
	}
	.mobile-menu ul {
		top: 30%;
	}
	.modal-dialog {
		width: 430px;
	}
	.w3_agileits_footer_grid {
		float: none;
		width: 100%;
	}
	.w3_agileits_footer_grid h3 {
		font-size: 1.6em;
		margin: 0 0 0.5em;
		padding-bottom: .3em;
	}
	.w3_agileits_footer_grid h3:before {
		width: 14%;
	}
	.w3_agileits_footer_grid ul li span {
		display: inline-block;
		margin-left: 0;
	}
	.footer {
		padding: 2em 0;
	}
	.w3_agileits_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3_agileits_footer_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.agileits_w3layouts_features_gridr {
		float: none;
	}
}
@media (max-width: 480px){
	.mobile-menu {
		width: 50%;
		right: -50%;
	}
	.mobile-nav-button {
		right: 4%;
	}
	.mobile-menu ul {
		top: 10%;
	}
	.agile_banner_info {
		margin: 4.5em 0 1.5em;
		width: 90%;
	}
	.agileits_w3layouts_more a {
		font-size: 13px;
	}
	.agileits_w3layouts_more a:before, .agileits_w3layouts_more a:after {
		width: 65%;
	}
	.w3_agileits_social_media ul li {
		margin: 0 0.5em;
	}
	.banner {
		min-height: 370px;
		background-position: -165px 0px;
	}
	.agile_banner_info h3 {
		font-size: 1.6em;
		letter-spacing: 3px;
	}
	.modal-header {
		padding: 10px;
		font-size: 1.5em;
		letter-spacing: 6px;
	}
	.modal-dialog {
		width: auto;
	}
	.close {
		float: left;
	}
	.w3_modal_body_right h4 {
		margin: 0em 0 0.5em;
	}
	.cbp-ig-grid .cbp-ig-title {
		font-size: 1.3em;
	}
	.banner-bottom, .features-bottom, .about, .team, .choose-us {
		padding: 2em 0;
	}
	.banner-bottom h3 {
		font-size: 1.3em;
		letter-spacing: 1px;
		line-height:1.3em;
	}
	.banner-bottom p {
		margin: 1em 0 0;
	}
	.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title:before {
		margin-top: 55px;
	}
	.cbp-ig-icon {
		padding: 1em 0 0;
	}
	.cbp-ig-grid .cbp-ig-title {
		margin: 25px 0 0;
	}
	.features {
		padding: 2em 0 0;
	}
	.w3_agile_header {
		font-size: 1.7em;
	}
	.w3_agile_header:after {
		right: 30%;
		width: 43%;
	}
	.w3_agile_header:before {
		left: 42.5%;
		width: 15%;
	}
	.agileits_countdown h2 {
		font-size: 1.7em;
	}
	.agileits_countdown {
		padding: 1.5em;
	}
	.timer {
		line-height: 1.6em;
		width: 70px;
		height: 70px;
	}
	.w3ls_text {
		font-size: 13px;
		margin: 0.5em 0 0;
	}
	.agileinfo_banner1_info h2 {
		font-size: 1.7em;
	}
	.agileinfo_banner1_info {
		margin: 3.5em 0 0;
	}
	.banner1 {
		min-height: 190px;
	}
	.w3layouts_team_grid h4 {
		font-size: 1.3em;
	}
	.w3layouts_services_grid {
		float: none;
		width: 100%;
	}
	.w3layouts_services_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3_agileits_working_hours h5 {
		font-size: 1.7em;
	}
	button.close {
		font-size: 1.5em;
	}
	.wthree_services_bottom_right {
		padding: 2em 1em;
	}
	.agileinfo_services_bottom_right_grid {
		float: none;
		width: 100%;
	}
	.agileinfo_services_bottom_right_grid:nth-child(2){
		margin:1em 0;
	}
	.agileits_w3layouts_map_pos {
		width: 80%;
	}
	.w3_agileits_contact_grid_right form {
		width: 100%;
	}
}
@media (max-width: 414px){
	.agile_banner_info h3 {
		font-size: 1.5em;
		letter-spacing: 2px;
	}
	.agile_banner_info h3 span {
		font-size: .5em;
	}
	.w3_agile_logo h1 a {
		font-size: .9em;
	}
	.banner-bottom h3 {
		font-size: 1.2em;
	}
	.cbp-ig-icon:before {
		font-size: 2em;
	}
	.cbp-ig-grid .cbp-ig-title:before {
		width: 120px;
		margin: -10px 0 0 -62px;
	}
	.w3_agile_header:after {
		right: 27%;
		width: 48%;
	}
	.w3_agileits_features_grid1 h4 {
		letter-spacing: 2px;
	}
	.agileits_countdown h2 {
		font-size: 1.5em;
	}
	.timer {
		width: 55px;
		height: 55px;
		font-size: 1.4em;
	}
	.agileits_w3layouts_features_gridr img {
		width: 50%;
	}
	.team h5 {
		font-size: 1.3em;
	}
	.wthree_services_bottom_right h3 {
		letter-spacing: 0px;
		font-size: 1.2em;
	}
	.agileits_w3layouts_map_pos {
		width: 90%;
	}
}
@media (max-width: 384px){
	.mobile-menu {
		width: 55%;
		right: -55%;
	}
	.mobile-menu ul li {
		margin-bottom: .5em;
	}
	.mobile-menu ul li a {
		letter-spacing: 1px;
	}
	.mobile-menu ul {
		top: 12%;
	}
	.mobile-nav-button {
		right: 6%;
	}
	.w3_agile_header:after {
		right: 25.5%;
		width: 50%;
	}
	.agileits_countdown h2 {
		font-size: 1.4em;
		letter-spacing: 1px;
	}
	.clock .column {
		margin-right: 10px;
	}
	.w3_features_bottom_grid {
		padding: 1em;
	}
	.w3layouts_features_bottom_grid:nth-child(2) {
		margin: 1em 0;
	}
	.w3_features_bottom_gridr h4 {
		font-size: 1.2em;
	}
	.w3layouts_team_grid {
		float: none;
		width: 100%;
	}
	.w3layouts_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3layouts_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3ls_choose_us_grid img {
		margin: 1em auto 0;
	}
}
@media (max-width: 375px){
	.agileinfo_share {
		margin-right: 3em !important;
	}
	.agileinfo_share:after {
		width: 55%;
		right: -65%;
	}
	.cbp-ig-grid .cbp-ig-title {
		font-size: 1.2em;
		padding: 9px 0 0 0;
		margin: 18px 0 0;
	}
	.cbp-ig-grid .cbp-ig-category {
		font-size: 12px;
	}
	.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-icon {
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title {
		-webkit-transform: translateY(-22px);
		-moz-transform: translateY(-22px);
		-ms-transform: translateY(-22px);
		transform: translateY(-22px);
	}
	.cbp-ig-grid li > .w3_grid_effect:hover .cbp-ig-title:before {
		margin-top: 35px;
	}
	.clock .column {
		margin-right: 7px;
	}
	.w3ls_text {
		font-size: 11px;
	}
	.agileinfo_feature_grid1 {
		margin-top: 1.5em;
	}
}
@media (max-width: 320px){
	.agile_banner_info h3 {
		font-size: 1.3em;
		letter-spacing: 1px;
	}
	.agile_banner_info {
		margin: 4.5em 0 1em;
		width: 100%;
	}
	.banner {
		min-height: 335px;
		background-position: -190px 0px;
	}
	p, ul li, ol li,.w3_agileits_footer_grid input[type="email"],.input__label,.w3_agileits_contact_grid_right textarea,.w3_agileits_contact_grid_right input[type="submit"] {
		font-size: 13px;
	}
	.mobile-menu ul li a {
		font-size: 12px;
		padding: .6em 0;
	}
	.mobile-menu ul {
		top: 15%;
	}
	.cbp-ig-grid .cbp-ig-title {
		letter-spacing: 1px;
	}
	.w3_agile_header:after {
		right: 20.5%;
		width: 60%;
	}
	.w3_agileits_features_grid1 h4 {
		letter-spacing: 1px;
	}
	.agileits_w3layouts_features_gridr img {
		width: 70%;
	}
	.agileits_countdown h2 {
		font-size: 1.2em;
		letter-spacing: 1.5px;
	}
	.clock .column {
		margin-right: 0px;
	}
	.timer {
		width: 53px;
		height: 53px;
	}
	.w3_agileits_footer_grid {
		padding: 0;
	}
	.wthree_copy_right {
		padding: 1.5em 0;
	}
	#gauge1, #gauge2, #gauge3, #gauge4 {
		width: 110px;
	}
	.w3ls_about_guage h4 {
		font-size: 1em;
	}
	.team h5 {
		font-size: 1.2em;
	}
	.w3layouts_services_grid h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	.w3_agileits_working_hours h5 {
		font-size: 1.4em;
	}
	.w3layouts_services_grid:nth-child(3) {
		padding: 0;
	}
	.w3_agileits_working_hours p {
		margin: .5em 0 1em !important;
	}
	.w3_agileits_working_hours ul li {
		margin-bottom: 1em;
	}
	.wthree_services_bottom_right h3 {
		letter-spacing: 1px;
		font-size: 1em;
	}
	.w3ls_choose_us_grid {
		padding: 0;
	}
	.agileinfo_banner1_info h2:after {
		width: 45%;
	}
	.agileinfo_banner1_info h2:before {
		left: 80%;
		width: 20%;
	}
	.agileits_w3layouts_map_pos,.agileits_w3layouts_map_pos1 {
		padding: 1em;
	}	
	.agileits_w3layouts_map_pos p {
		margin: .5em 0 1em;
	}
	.w3_agileits_contact_grid_right form {
		padding: 0;
	}
}