{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% render_block "css" %}
        <!-- custom-theme -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Marathon Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //custom-theme -->
        <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- js -->
        <script type="text/javascript" src="/static/js/jquery-2.1.4.min.js"></script>
        <!-- //js -->
        <!-- font-awesome-icons -->
        <link href="/static/css/font-awesome.css" rel="stylesheet"> 
        <!-- //font-awesome-icons -->
        <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% cms_toolbar %}
	<div class="banner1">
		<div class="container">
			<div class="header">
				<div class="w3_agile_logo">
					<h1><a href="/">Ter Aar Triathlon<span>22 mei 2022</span></a></h1>
				</div>
				<div class="w3_menu">
					<div class="mobile-nav-button">
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
					</div>
					<nav class="mobile-menu">
						<ul>
                                {% show_menu 0 100 100 100 %}
						</ul>
					</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agileinfo_banner1_info">
				<h2>{% page_attribute "page_title" %}</h2>
			</div>
		</div>
	</div>
<!-- //banner -->
            <!-- banner-bottom -->
                <div class="banner-bottom">


                    <div class="container">	
                        <div class="agileits_banner_bottom">
                                {% block content %}{% endblock content %}
                        </div>
                    </div>
                </div>
                <!-- //banner-bottom -->
                <!-- features -->
                <div class="features">
                    <div class="container">
                        <div class="agileits_countdown">
                            <h2>Triathlon Ter Aar begint over:</h2>
                            <div class="clock w3agile">
                                <div class="column">
                                    <div class="timer" id="months"></div>
                                    <div class="w3ls_text">MAANDEN</div>
                                </div>
                                <div class="column days">
                                    <div class="timer" id="days"></div>
                                    <div class="w3ls_text">DAGEN</div>
                                </div>
                               
                                <div class="column">
                                    <div class="timer" id="hours"></div>
                                    <div class="w3ls_text">UUR</div>
                                </div>
                               
                                <div class="column">
                                    <div class="timer" id="minutes"></div>
                                    <div class="w3ls_text">MINUTEN</div>
                                </div>
                               
                                <div class="column">
                                    <div class="timer" id="seconds"></div>
                                    <div class="w3ls_text">SECONDEN</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- //features -->
            <!-- countdown -->
                <script type="text/javascript" src="/static/js/moment.js"></script>
                <script type="text/javascript" src="/static/js/moment-timezone-with-data.js"></script>
                <script type="text/javascript" src="/static/js/timer.js"></script>
            <!-- //countdown -->
          
            <!-- footer -->
                <div class="footer">
                    <div class="container">
                        <div class="agileits_w3layouts_footer_grids">
                            <div class="col-md-3 w3_agileits_footer_grid">
                                <h3>About Us</h3>
                                <p>Triathlon Ter Aar is een Triathlon die al méér dan 30 jaar plaatsvindt. 
                                    Vanaf 2019 neemt een nieuw bestuur de organisatie hiervan waar.</span></p>
                            </div>
                            <div class="col-md-3 w3_agileits_footer_grid">
                                <h3>Bereik ons via:</h3>
                                <ul>
                                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@teraartriathlon.nl">info@teraartriathlon.nl</a></li>
                                    <li><i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i><a href="https://facebook.com/TriathlonTerAar">facebook.com/TriathlonTerAar</a></li>
                                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Zwembad de Aarweide, <span>Nieuwveen</span></li>

                                </ul>
                            </div>
                            <div class="col-md-2 w3_agileits_footer_grid w3_agileits_footer_grid1">
                                <h3>Ga Naar</h3>
                                <ul>
                                        {% show_menu 0 100 100 100 %}
                                </ul>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="wthree_copy_right">
                    <div class="container">
                        <p>&copy; 2020 Triathlon Ter Aar. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
                        <div class="w3_agile_social_icons">
                            <ul>
                                <li><a href="https://facebook.com/TriathlonTerAar" class="icon icon-cube agile_facebook"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- //footer -->
            <!-- menu -->
            <script>
                $(document).ready(function () {
                  $('.mobile-nav-button').on('click', function() {
                  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
                  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");  
                  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");  
                  
                  $('.mobile-menu').toggleClass('mobile-menu--open');
                  return false;
                }); 
                });
            </script>
            <!-- //menu -->
            <!-- start-smoth-scrolling -->
            <script type="text/javascript" src="/static/js/move-top.js"></script>
            <script type="text/javascript" src="/static/js/easing.js"></script>
            <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $(".scroll").click(function(event){		
                        event.preventDefault();
                        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                    });
                });
            </script>
            <!-- start-smoth-scrolling -->
            <!-- here stars scrolling icon -->
                <script type="text/javascript">
                    $(document).ready(function() {
                        /*
                            var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear' 
                            };
                        */
                                            
                        $().UItoTop({ easingType: 'easeOutQuart' });
                                            
                        });
                </script>
            <!-- //here ends scrolling icon -->
            <!-- for bootstrap working -->
                <script src="/static/js/bootstrap.js"></script>
                {% render_block "js" %}
            <!-- //for bootstrap working -->
            </body>
</html>
